body{
	color:blue;
	background-color:yellow;
	font-size:14px;
	line-height:1.5em;
	font-family: Verdana, Arial,Helvetica,sans-serif;
}

#forkme {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
}

#navbar {
	width:400px;
	margin: 0 auto;
	text-align:center;
	font-size:1.2em;
}
#navbar-ul {
	list-style:none;
	margin-bottom:5px;
}
#navbar-ul li{
	padding-right:20px;
	display: inline;
}


#content{
	/*
	background-color:white;
	margin:20px;
	padding:5px 20px 20px;*/
}

.shade {
	background: url("../images/shade.gif") no-repeat scroll center bottom transparent;
	height:19px;
	overflow: hidden;
}
.zinnia {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.zinnia .container{
	width:960px;
}
.zinnia #header {
	border:none;
}

.zinnia #header h1 {
	font-family: 'Rock Salt',cursive,Verdana,Arial,Helvetica,sans-serif;
	color:#0066AA;
	font-size:3em;
	text-align:center;
	width:600px;
	margin: 25px auto 12px;	
}

.zinnia #header h1 a:hover  {
	color:#11A0FF;
	text-decoration: none;
}

.zinnia #header blockquote {
	text-align:center;
}
.zinnia #header blockquote {
	margin:0;
}
#breadcrumbs {
	min-height:17px;
	margin-bottom:15px;
}
.zinnia-img{
	max-width:300px;
	max-height:300px;
	float:right;
}
.zinnia .top-navigation a {
	padding-right:0.3em;
}
.zinnia ul.breadcrumbs {
	font-size:0.8em;
	padding-left:2em;
	margin:0 0 5px 10px;
	
}

.zinnia h2.entry-title {
	font-family: 'Rock Salt',cursive,Verdana,Arial,Helvetica,sans-serif;
	font-size:1.7em;
	color:#333333;	
}
.zinnia h2.entry-title a:hover {text-decoration: none;}

.entry-content h1, .static-page h1{
	font-family: 'Rock Salt',cursive,Verdana,Arial,Helvetica,sans-serif;
	font-size:1.5em;
	color:#333333;	
}
.entry-content h2, .static-page h2 {
	font-family: 'Rock Salt',cursive,Verdana,Arial,Helvetica,sans-serif;
	font-size:1.3em;
	color:#333333;
}
.entry-content h3, .static-page h3{
	font-family: 'Rock Salt',cursive,Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
	color:#333333;
}
.entry-content h4, .static-page h4{
	font-family: 'Rock Salt',cursive,Verdana,Arial,Helvetica,sans-serif;
	font-size:1em;
	color:#333333;
}


.entry-footer{
	clear:both;
}
.zinnia #footer {
	padding-top: 35px;
}

.zinnia #header .top-navigation .dashboard {
    background: transparent url("../zinnia/img/manage.png") no-repeat scroll left center;
    padding-left: 1.5em;
}
.tweeter {
	float:right;
	margin: 20px 0 0 5px;
	border-left: 15px solid white;
	background:white;
}

.zinnia .entry-header {
	margin-top:0px;

}

.zinnia #header .top-navigation li:after {
    content: "";
}
.zinnia h2.entry-title {
	/*font-size:1.7em;*/
	line-height:1.3em;
	margin-bottom:15px;
	background: url("../zinnia/img/bullet.png") no-repeat scroll 0 11px transparent;
	padding:0 0 5px 15px;
	border-bottom:none;
	/*border-bottom:1px solid #CCCCCC;*/

	vertical-align:center;
}
.zinnia .hentry{
	border-bottom:1px solid #CCCCCC;
	margin-bottom: 30px;
	padding-bottom:15px;
}

input,textarea,select{
	padding:2px 5px;
	
	border-radius: 4px;
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	
	-moz-box-shadow: inset 0px 0px 5px #888;
	-webkit-box-shadow: inset 0px 0px 5px #888;
	box-shadow: inset 0px 0px 5px #AAA;
	
    border: 1px solid #C3C3C3;
}
input[type=submit]{
	/*background: url('../images/nightlys-button-bg.png') repeat-x scroll 50% 50% #D7EBF9;*/
	
    cursor: pointer;
    border: 1px solid #AED0EA;
 	color: #2779AA;
	font-weight: bold;
	box-shadow: none;
	padding:4px 9px;
	
	background: url('../css/images/ui-bg_glass_50_3baae3_1x400.png') repeat-x scroll 50% 50% #3BAAE3;
	border: 1px solid #2694E8;
	color:white;
    
}
input[type=submit]:hover {
	/*
	background: url('../images/nightlys-button-bg-hover.png') repeat-x scroll 50% 50% #E4F1FB;
	border: 1px solid #74B2E2;
    color: #0070A3;  
    */  
    
    font-weight: bold;
    outline: medium none;
    
    background: url('../images/nightlys-button-bg.png') repeat-x scroll 50% 50% #D7EBF9;
    border: 1px solid #AED0EA;
    color: #2779AA;    
}
input[type=submit]:hover.disabled {
    color: #8897A0;    
}

.center-element {
	margin: 0 auto;
	display:block;
}