{% extends 'skeleton.html' %}
{% block title %}| About{% endblock %}

{% block preload_js %}{% endblock%}

{% block nav %}{% endblock %}

{% block content %}
	<div id="page-content" class="static-page">
		{%block header %}
			<h1>About me</h1>
		{% endblock%}
		
		<p>
			Hi, I am Charles.  I started this blog in March of 2012 in order to become a better programmer and to be more social.  I am 
			interested in creating discussions, so please feel free to comment on posts or to contact me directly.
		</p>
	</div> <!-- end page-content -->
{% endblock %}



