<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Charles O'Brien's official website - Tallahassee, Florida" />
    <meta name="keywords" content="blog, hacker, developer, security, django" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> 
    
    <title>Charles O'Brien's Site - {% block title %}{% endblock %}</title>
    <!--<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" />-->

    <!--<link href="{{STATIC_URL}}css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />-->
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css" media="Screen" />
    <!--<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{STATIC_URL}}css/mobile.css" type="text/css" rel="stylesheet" /> -->
    <!--[if IEMobile]>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mobile.css" media="screen" />
    <![endif]-->
    
    {% block css %}{% endblock %}

    {% block preload_js %}{% endblock %}
    
    {% block extra-head %}{% endblock %}
</head>

<body>
    <div id="main-wrapper">
        <header>
            <div id="header">
                <div id="header-logo"> 
                    <a id="logo" href="{% url index %}"><img src="{{STATIC_URL}}images/snoopy.png"  alt="Snoopy" width="549" height="122" /></a>
                </div> <!-- end header-logo -->
                {% block header-extra %}{% endblock %}
            </div><!-- end header -->
        </header>
        <nav>
            <ul id="navbar">
                <li><a href="/polls/">Poll Tut</a></li>
                <li><a href="/weblog/">Blog</a></li>
            </ul>
        </nav>
        
        <div id="content"> 
            {% block content %}
                {% block content-header %}{% endblock %}   
            {% endblock %}
        </div><!-- end content--> 
        
        {% block js-bottom %}{% endblock %}
    </div> <!--end main wrapper -->

</body>
</html>





