{% load zinnia_tags i18n %}
{% get_tags as entry_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{% block meta-description %}Charles O'Brien - Tallahassee, Florida{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}blog, hacker, developer, security, django, {{ entry_tags|join:", "}}{% endblock %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> 
    <meta name="author" content="Charles O&#39;Brien" />

    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    
    <title>Charles O'Brien's Blog - {% block title %}{% endblock %}</title>

    {% block meta %}{% endblock %}
    <!--<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon" />-->
    <link rel="shortcut icon" href="{{ STATIC_URL }}zinnia/img/favicon.ico" />
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="home" href="{% url zinnia_entry_archive_index %}" />

    <!--<link href="{{STATIC_URL}}css/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}css/screen.css" />
    <link rel="stylesheet" type="text/css" media="print" href="{{ STATIC_URL }}zinnia/css/print.css" />
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet" type="text/css" media="Screen" />
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ STATIC_URL }}zinnia/css/ie.css" />
    <![endif]-->
    <!--<link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="{{STATIC_URL}}css/mobile.css" type="text/css" rel="stylesheet" /> -->
    <!--[if IEMobile]>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mobile.css" media="screen" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    
    {% block css %}{% endblock %}

    {% block preload_js %}{% endblock %}
    
    {% block extra-head %}{% endblock %}

    {% block link %}{% endblock %}
    {% block script %}{% endblock %}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30579647-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  
</head>

<body class="zinnia {% block body-class %}{% endblock %}">
    <div id="forkme">
        <img width="138" height="138" usemap="#fork_ribbon" alt="Fork this blog on GitHub" src="http://s3.amazonaws.com/blog-static-files/images/forkme.png">
        <map id="fork_ribbon_map" name="fork_ribbon">
            <area alt="Fork this blog on GitHub" title="Fork this blog on GitHub" href="https://github.com/pycharles/dyz-blog" coords="3,0,48,0,138,90,138,134" shape="poly">  
        </map>
    </div>


    <div id="main-wrapper">
        <div class="container">
            <header>
                <div id="header">
                    <!--
                    <div id="header-logo"> 
                        <a id="logo" href="{% url index %}"><img src="{{STATIC_URL}}images/snoopy.png"  alt="Snoopy" width="549" height="122" /></a>
                    </div> end header-logo -->

                    <ul class="top-navigation">
                      <li><a href="{% url zinnia_sitemap %}" title="{% trans "Sitemap" %}" class="sitemap">{% trans "Sitemap" %}</a></li>|
                      <li><a href="{% url zinnia_entry_latest_feed %}" title="{% trans "RSS Feed of latest entries" %}" class="feeds">{% trans "RSS Feed" %}</a></li>
                      
                      
                        {% if perms.zinnia %}
                            |&nbsp;<li><a href="{% url admin:app_list "zinnia" %}" title="{% trans "Dashboard" %}" class="dashboard">Dashboard</a></li>
                        {% endif %}
                      
                    </ul>

                    <h1><a href="{% url zinnia_entry_archive_index %}" title="Charles O&#39;Brien" rel="home">Charles O&#39;Brien</a></h1>
                    <blockquote>Information technology, security and more.</blockquote>                    

                    {% block header-extra %}{% endblock %}

                </div><!-- end header -->
            </header>

            {% block slider %}{% endblock %}
            <nav>
                <div id="navbar">
                    <ul id="navbar-ul">
                        <li><a href="/weblog/">Blog</a></li>
                        <!--<li><a href="/polls/">Poll Tut</a></li>-->
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
            <div class="shade"></div>

            <div id="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
            
            <div id="content"  class="hfeed"> 
                {% block content %}
                    {% block content-header %}{% endblock %}   
                    <h3>The content block need to be overrided!</h3>
                {% endblock %}
            </div><!-- end content--> 


            <div id="sidebar">
                <div class="welcome">
                    <h3>Welcome
                        {% if request.user.is_authenticated %}
                            <span>{{request.user.first_name}}</span>
                      {% endif %}
                    </h3>

                    {% if user.is_authenticated %}
                    <div id="widget-tools" class="widget">
                      
                      <ul>
                        {% if perms.zinnia %}
                        <li>
                          <a href="{% url admin:app_list "zinnia" %}" title="{% trans "Dashboard" %}">
                            {% trans "Dashboard" %}
                          </a>
                        </li>
                        {% endif %}
                        {% if perms.zinnia.add_entry %}
                        <li>
                          <a href="{% url admin:zinnia_entry_add %}" title="{% trans "Post an entry" %}">
                            {% trans "Post an entry" %}
                          </a>
                        </li>
                        {% endif %}
                        {% block admin_tools %}
                        {% endblock %}
                        <li>
                          <a href="{% url admin:logout %}" title="{% trans "Log out" %}">
                            {% trans "Log out" %}
                          </a>
                        </li>
                      </ul>
                    </div>
                    {% endif %}





                  <p>
                    I enjoy solving problems and sharing experiences with other people.
                  </p>
                  <p>
                    <a href="https://twitter.com/charlesob" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @charlesob</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </p>
                  <a href="https://plus.google.com/109849230197822206167?rel=author"></a>
                </div>
                {% block sidebar %}
                {% endblock %}
              </div>
              <div id="footer">
                <p>Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="http://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.</p>
              </div>
            </div>


            
            {% block js-bottom %}{% endblock %}
        </div> <!--end container -->
    </div> <!--end main wrapper -->

</body>
</html>





